.wrapper-scroller {
  height: 10em;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  margin: 0rem 0rem 1rem 0rem;
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem 0rem 1rem 0rem;
  & img {
    width: 120px;
    height: 8rem;
    border-radius: 50%;
    margin: 0rem 0rem 0rem 0rem;
  }
}
.wrapper-content {
  width: 22rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  & h2 {
    cursor: pointer;
    font-size: 25px;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--red);
  }
  & h3 {
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 600;
    word-spacing: 2px;
  }
  & h5 {
    font-size: 14px;
    font-family: var(--font-family);
    word-spacing: 2px;
    color: var(--grey);
    margin: 0.5rem 0rem 0.5rem 0rem;
  }
  & p {
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 600;
    word-spacing: 2px;
    color: var(--red);
  }
}

/* mobile responsive */
@media screen and (max-width: 906px) {
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0rem 1rem 0rem;
  }
  .wrapper-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & h3 {
      font-size: 18px;
      font-family: var(--font-family);
      font-weight: 600;
      word-spacing: 2px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 20ch;
    }
  }
}
