<div class="container">
  <div class="wrapper">
    <button (click)="onNavigateToSocialMedia(socialMedia.facebook)"><i class="fab fa-facebook"></i></button>
    <button (click)="onNavigateToSocialMedia(socialMedia.intagram)"><i class="fab fa-instagram"></i></button>
    <button (click)="onNavigateToSocialMedia(socialMedia.telegram)"><i class="fab fa-telegram"></i></button>
    <button (click)="onNavigateToSocialMedia(socialMedia.whatup)"><i class="fab fa-whatsapp"></i></button>
    <button (click)="onNavigateToSocialMedia(socialMedia.website)"><i class="fas fa-share-alt-square"></i></button>
  </div>
</div>
