.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .badge-custom {
    cursor: pointer;
    background: var(--white);
    color: var(--red);
    border: 2px solid;
    padding: 0.5rem 1.5rem;
    margin: 2rem 0rem 0rem 1rem;
  }
}
